body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.parameters {
    text-align: left; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 600px; 
}

.parameters span {
    display: block; 
    margin-bottom: 10px; 
}
.content {
    flex: 1;
}

footer {
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-text {
    font-size: 16px;
    color: #333;
}