body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
    background-color: #fff;
}

.container {
    text-align: center;
}

.logo img {
    width: 200px; /* Adjust the size as needed */
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 20px 0;
}

.details {
    font-size: 1em;
    line-height: 1.5em;
    text-align: start;
}

.details p {
    margin: 5px 0;
}
