body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 7px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-bottom: 20px;
}

.report-title {
    flex-grow: 1;
    text-align: right;
    font-size: 14px;
    line-height: 1.5;
}

.report-title h1, .report-title h2 {
    margin: 0;
}

.report-title h1 {
    font-size: 13px;
    font-weight: 700;
}

.report-title h2 {
    font-size: 12px;
    font-weight: 500;
}

section#conclusion {
    margin-bottom: 20px;
}

section#conclusion h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

section#conclusion p {
    margin-bottom: 15px;
    line-height: 1.8;
    font-size: 14px;
}
