body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin:6px;
    
}
.logo img {
    width: 333px; /* Adjust the size as needed */
}
.logo
{
    margin-top:89px;
}


.details {
    font-size: 1em;
    text-align: start;
    margin-left: -14px;
    margin-top: 28px
}

.details p {
    margin: 5px 0;
}
